<!DOCTYPE html>
<html lang="en">

<head>
    <link href="static/main.css" rel="stylesheet">
    <link href="static///netdna.bootstrapcdn.com/font-awesome/3.2.1/cssap/font-awesome.css" rel="stylesheet">
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    </head>
    <body ng-app="Leave" ng-controller="myCtrl">
     <span style="font-size:30px;cursor:pointer font-color:#00B074" onclick="openNav()">&#9776; JobEntry</span> 
    <header>  
     
       
    
     <div id="Details">
        <h3>Applicants details</h3>
        <table style="width:100%">
          <tr>
            <th>Jobid</th>
            <th>Company's name</th>
            {% comment %} <th>Job title</th> {% endcomment %}
            <th>Applicants Emailid</th>
            {% comment %} <th>Job title</th> {% endcomment %}
            
           
            <th>Resume</th>
            
            <th>Update</th>
          </tr>
          
          {% for i in job %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            {% comment %} <td>{{i.jobtitle}}</td> {% endcomment %}
           
            <td>{{i.applicant}}</td>
           
            {% if i.applicant.resume %}
            <td>  <a href="{% url 'view_resume' i.applicant.id %}" class="btn btn-xs btn-warning">View Resume</a> </td>
            {% else %}
            <td><button type="button"  class="btn btn-xs btn-warning" disabled>No Resume</button></td>
            {% endif %}
            
             
            <td> <button type="submit" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#myModalUpdate"> <a href="{% url 'approvecandidate' i.id %}" >Accept</a></button>
             <button type="submit" class="btn btn-xs btn-warning" data-toggle="modal" data-target="#myModalDelete"> <a href="{% url 'rejectcandidate' i.id %}">Reject</a></button></td> 
          </tr>
          {% endfor %}
        </table>
      </div>
      
      
    </body>
    </html>