<!doctype html>
<html lang="en">
  <head>
  	<title>Table 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/cssstable/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-6 text-center mb-5">
					<a href="indexadmin" class="login100-form-social-item flex-c-m bg2 m-r-5">
						<i class="fa fa-home" aria-hidden="true"></i>
					</a>
					<h2 class="heading-section">Empolyers  Table</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>Email</th>
						      <th>Empolyer's Name</th>
						      <th>Companies name</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
							{% for empr in empr %}
						    <tr class="alert" role="alert">
						    	<td>
						    		{% comment %} <label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label> {% endcomment %}
						    	</td>
						      <td class="d-flex align-items-center">
								{% comment %} {% for empr in empr %} {% endcomment %}
						      	<img class="img" src= {{empr.image}}>
								{% comment %} {% for empr in empr %} {% endcomment %}
						      	<div class="pl-3 email">
						      		<span>{{empr.email}}</span>
						      		<span>Added: 01/03/2020</span>
						      	</div>
						      </td>
						      <td>{{empr.firstname}}</td>
						      <td><span >{{empr.company}}</span></td>
						      <td>
							   {% comment %} {% endfor%} {% endcomment %}
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
							  {% endfor%}
				        	</td>
						    </tr>
						    <tr class="alert" role="alert">
						    	<td>
						    		
						    	</td>
						     
						      
						    
						     
						    
						    
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/jstable/jquery.min.js"></script>
  <script src="static/jstable/popper.js"></script>
  <script src="static/jstable/bootstrap.min.js"></script>
  <script src="static/jstable/main.js"></script>

	</body>
</html>

