<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor1/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor1/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor1/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor1/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor1/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor1/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css1/util.css">
	<link rel="stylesheet" type="text/css" href="static/css1/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	 <!-- Navbar Start -->
	 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
		<a href="index" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
			<h1 class="m-0 text-primary">JobEntry</h1>
		</a>
		<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav ms-auto p-4 p-lg-0">
				<a href= "{% url 'index' %}"class="nav-item nav-link active">Home</a>
				<a href="about" class="nav-item nav-link">About</a>
				<div class="nav-item dropdown">
					<a href="index" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
					<div class="dropdown-menu rounded-0 m-0">
						<a href="joblist" class="dropdown-item">Job List</a>
						<a href="jobdetail" class="dropdown-item">Job Detail</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="index" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
					<div class="dropdown-menu rounded-0 m-0">
						<a href="category" class="dropdown-item">Job Category</a>
						<a href="testimonial" class="dropdown-item">Testimonial</a>
						<a href="error" class="dropdown-item">404</a>
					</div>
				</div>
				<a href="contact" class="nav-item nav-link">Contact</a>
			  <a href="login" class="nav-item nav-link">login</a>
			</div>
			<a href="index" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
		</div>
	</nav>
	
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
					

					<div class="container-login100-form-btn">
						<a style="width: 100%;" href="employerlogin">
				    	<button  class="login100-form-btn">
							 Employer Login
						</button>
					</a>
					</div><br>
					<div class="container-login100-form-btn">
						<a style="width: 100%;" href="employe">
						<button class="login100-form-btn" >
							 Employee Login
						</button>
					 </a>	
					</div>
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="static/#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="static/#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</div>

				<div class="login100-more" style="background-image: url('static/images/bs.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="static/vendor1/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor1/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor1/bootstrap/js/popper.js"></script>
	<script src="static/vendor1/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor1/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor1/daterangepicker/moment.min.js"></script>
	<script src="static/vendor1/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor1/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>